.background {
    background-color: var(--color-expensify-background);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 80%;
    margin: 0 auto;
    padding: 5rem 1rem 4rem 1rem;
}

.title-container {
    flex-direction: column;
    gap: 10px;
    display: flex;
}

.subContainer {
    flex-direction: column;
    gap: 10px;
    display: flex;
}

.button {
    width: fit-content;
    margin-top: 16px;
}

.text {
    max-width: 500px;
    color: var(--color-expensify);
}

.row {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    align-self: center;
}

.solution {
    align-self: center;
}