.container {
  position: relative;
}

.textBox {
  height: 48px;
  width: calc(100% - 20px);
  border: 1px solid;
  border-color: var(--color-light-grey);
  border-radius: 4px;
  padding-left: 16px;
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-grey);
  transition: all 0.3s ease;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.textBox::placeholder {
  color: var(--color-light-grey);
}

.textBox:focus {
  outline: none;
  border-color: var(--color-primary);
  transition: all 0.3s ease;
}

.label {
  position: absolute;
  background-color: var(--color-grey);
  padding: 0px 6px;
  top: -12px;
  left: 10px;
}

.errorBubble {
  position: absolute;
  top: -12px;
  right: 0;
  background-color: var(--color-dark-grey);
  padding: 2px 10px;
  border-radius: 4px;
  z-index: 1;
  font-size: small;
}
