.container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    align-self: center;
    gap: 16px;
}

.subContainer {
    flex-direction: column;
    gap: 10px;
    display: flex;
}

.text-default {
    color: var(--color-grey);
}

.text-cleanup {
    color: var(--color-cleanup);
}

.text-expensify {
    color: var(--color-expensify);
}

.leftImage {
    flex-direction: row;
}

.rightImage {
    flex-direction: row-reverse;
}
