.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  align-items: center;
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.leftImage {
  flex-direction: column;
  transform: translateX(-100px);
}

.rightImage {
  flex-direction: column;
  transform: translateX(100px);
}

.leftVisible {
  opacity: 1;
  transform: translateX(0);
}

.rightVisible {
  opacity: 1;
  transform: translateX(0);
}

.subContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.text-default {
  color: var(--color-grey);
}

.text-cleanup {
  color: var(--color-cleanup);
}

.text-expensify {
  color: var(--color-expensify);
}

.image {
  max-width: 80%;
  max-height: auto;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: center;
  }

  .leftImage {
    flex-direction: row;
  }

  .rightImage {
    flex-direction: row-reverse;
  }

  .subContainer {
    align-items: flex-start;
  }

  .image {
    max-width: 50%;
  }
}
