.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

.subContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.button {
  width: fit-content;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .memoji-web {
    display: none;
  }
  .memoji-mobile {
    width: 20rem;
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .subContainer {
    align-items: flex-start;
    text-align: left;
  }

  .memoji-web {
    width: 26rem;
    margin-top: 0;
  }

  .memoji-mobile {
    display: none;
  }
}
