.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    background-color: rgb(31, 30, 30);
    position: sticky;
    position: -webkit-sticky; /* For Safari */
    top: 0;
}
