.container {
  display: flex;
  overflow: hidden;
  max-width: 80%;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  gap: 1rem;
  animation: scroll 30s linear infinite;
  align-items: center;
}

.logo {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 768px) {
  .logo {
    width: 4rem;
    height: 4rem;
  }
  .container {
    width: 500px;
  }
}