.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.marquee {
    margin-top: 20px;
    display: flex;
    gap: 24px;
    animation: scroll 15s linear infinite;
}
