.background {
    background-color: var(--color-cleanup-background);
}

.container {
    height: 100%;
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 68px;
    flex-direction: column;
    gap: 91px;
    padding-top: 82px;
}

.title-container {
    flex-direction: column;
    gap: 10px;
    display: flex;
}

.subContainer {
    flex-direction: column;
    gap: 10px;
    display: flex;
}

.button {
    width: fit-content;
    margin-top: 16px;
}

.text {
    max-width: 500px;
    color: var(--color-cleanup);
}

.row {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    align-self: center;
}

.solution {
    align-self: center;
}

.button {
    background-color: var(--color-cleanup);
    color: var(--color-white);
    border-color: var(--color-cleanup);
}

.button:hover {
    background-color: var(--color-cleanup-light);
    border-color: var(--color-cleanup-light);
}

.button:active {
    background-color: var(--color-cleanup-background);
    color: var(--color-cleanup-light);
    border-color: var(--color-cleanup-light);
}