.background {
  background-color: var(--color-cleanup-background);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 80%;
  margin: 0 auto;
  padding: 5rem 1rem 4rem 1rem;
  color: var(--color-cleanup);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text {
  max-width: 100%;
  color: var(--color-cleanup);
}

.button {
  width: fit-content;
  margin-top: 1rem;
  background-color: var(--color-cleanup);
  color: var(--color-white);
  border-color: var(--color-cleanup);
}

.button:hover {
  background-color: var(--color-cleanup-light);
  border-color: var(--color-cleanup-light);
}

.button:active {
  background-color: var(--color-cleanup-background);
  color: var(--color-cleanup-light);
  border-color: var(--color-cleanup-light);
}

.workExperienceSection {
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  color: var(--color-cleanup);
}

.workExperienceHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.workExperienceTitle {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.workExperiencePeriod {
  font-style: italic;
  margin-top: 1rem;
}

.achievementText {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  padding-left: 1.5rem;
  position: relative;
}

.achievementText::before {
  content: "•";
  position: absolute;
  left: 0.5rem;
}

.achievementsTitle {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
}

.achievementsContainer {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-cleanup-light);
}

.problemContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.image {
  width: 80%;
}

@media (min-width: 768px) {
  .text {
    max-width: 500px;
  }
  .container {
    gap: 4rem;
    padding: 5rem 3rem 4rem 3rem;
  }
  .problem-container {
    justify-content: space-between;
    flex-direction: row;
  }
  .image {
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .container {
    gap: 5rem;
    padding: 5rem 3rem 4rem 3rem;
  }
}
