:root {
    --color-grey: #282929;
    --color-primary: #ff54d9;
    --color-primary-light: #ff98e8;
    --color-primary-lightest: #ffd3f6;
    --color-white: rgba(255, 255, 255, 0.93);

    /* CleanUp */
    --color-cleanup: #1556b1;
    --color-cleanup-light: #75a3e4;
    --color-cleanup-background: #f6f9fe;

    /* Expensify */
    --color-expensify: #a83d9d;
    --color-expensify-light: rgb(241, 151, 232);
    --color-expensify-background: #fef8fc;

    font-family: "MADEOuterSans", sans-serif;
    line-height: 1.5;

    color-scheme: light dark;
    color: var(--color-white);
    background-color: var(--color-grey);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    flex: 1;
    flex-direction: column;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 80px;
    margin: 0px;
    line-height: 80px;
}

h2 {
    font-size: 54px;
    margin: 0px;
}

h3 {
    font-size: 40px;
    margin: 0px;
}

h4 {
    font-size: 32px;
    margin: 0px;
}

h5 {
    font-size: 24px;
    margin: 0px;
    line-height: 30px;
}

h6 {
    font-size: 20px;
    margin: 0px;
    line-height: 26px;
}

p {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin: 0px;
}

button {
    border-radius: 25px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-grey);
    border-width: 2px;
    border-color: var(--color-primary);
    padding: 10px 32px;
    box-shadow: none;
    outline: none;
    border-style: solid;
}

button:hover {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}
button:active {
    background-color: var(--color-grey);
    color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
