:root {
    --color-light-grey: rgb(193, 191, 191);
    --color-grey: #282929;
    --color-dark-grey: #1a1a1a;
    --color-primary: #ff54d9;
    --color-primary-light: #ff98e8;
    --color-primary-lightest: #ffd3f6;
    --color-white: rgba(255, 255, 255, 0.93);

    /* CleanUp */
    --color-cleanup: #1556b1;
    --color-cleanup-light: #75a3e4;
    --color-cleanup-background: #f6f9fe;

    /* Expensify */
    --color-expensify: #a83d9d;
    --color-expensify-light: rgb(241, 151, 232);
    --color-expensify-background: #fef8fc;

    font-family: "MADEOuterSans", sans-serif;
    line-height: 1.5;

    color-scheme: light dark;
    color: var(--color-white);
    background-color: var(--color-grey);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    flex: 1;
    flex-direction: column;
}
html {
    font-size: 16px;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-size: 1rem;
}

h1 {
    font-size: 5rem;
    margin: 0;
    line-height: 5rem;
}

h2 {
    font-size: 3.375rem;
    margin: 0;
}

h3 {
    font-size: 2.5rem;
    margin: 0;
}

h4 {
    font-size: 2rem;
    margin: 0;
}

h5 {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.875rem;
}

h6 {
    font-size: 1.25rem;
    margin: 0;
    line-height: 1.625rem;
}

p {
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    margin: 0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.75rem;
    }

    h5 {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    h6 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    p {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}


button {
    border-radius: 25px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-grey);
    border-width: 2px;
    border-color: var(--color-primary);
    padding: 10px 32px;
    box-shadow: none;
    outline: none;
    border-style: solid;
}

button:hover {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}
button:active {
    background-color: var(--color-grey);
    color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
