.container {
    background-color: var(--color-primary-lightest);
    height: 5px;
    width: 300px;
    border-radius: 50px;
}

.progress {
    background-color: var(--color-primary);
    height: 5px;
    width: 98%;
    border-radius: 50px;
}

.row {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 4px;
}
