.container {
    height: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 68px;
}

.subContainer {
    flex-direction: column;
    gap: 10px;
    display: flex;
}

.button {
    width: fit-content;
    margin-top: 16px;
}

.text {
    max-width: 500px;
}

.button-container {
    margin-top: 18px;
}

.buttons-container {
    gap: 24px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-top: 26px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-top: 18px;
}

.user-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
